* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}  
 
@font-face {
    font-family:'Inter Medium';
    src: url('../../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'Inter';
	src: url('../../fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
	
@font-face {
	font-family:'Laviossa';
	src: url('../../fonts/Laviossa-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Rubik';
	src: url('../../fonts/Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 
@font-face {
	font-family:'Rubik Medium';
	src: url('../../fonts/Rubik-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Rubik Bold';
	src: url('../../fonts/Rubik-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}  


@font-face {
	font-family:'Noto Bold';
	src: url('../../fonts/NotoSans_ExtraCondensed-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family:'Noto Sans';
	src: url('../../fonts/NotoSans_Condensed-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}







/* -- Scrollbar -- */

::-webkit-scrollbar {width: 0.7em;}
::-webkit-scrollbar-track {background: #191924;}
::-webkit-scrollbar-thumb {
	background: #676374; 
	border-radius: 100vw; 
	border:2px solid #191924;
}
::-webkit-scrollbar-thumb:hover {background: #3f3d46;}




/* ----------- B O D Y --------------------------------------------------------- */ 
body {
	background-color: #090913;
}


/* ----------- HEADER NAV ------------------------------------------------------ */ 

#header-nav {width: 100%; position: fixed; z-index: 30;}

.header {
	background-color: #000001;
	background-image: url("../../img/images/header-back.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 700px;
	width: 100%;
	height: 61px;
	padding: 0px 30px;
	display: flex;
	justify-content: space-around;
}

.header .logo {position: relative; top: 8px; left: 0px;}
.header .logo img{width: 40px; transition: 0.2s;}
.header .logo img:hover{transform-style: preserve-3d; transform: scale(1.1);}



.header .header-contents{
	width: 40%;
	line-height: 60px;
	position: relative;
	display: inline-flex;
	justify-content: space-between;
}

.header .header-contents .login {position: absolute; right: 0px;}

.header .header-contents div {margin: 0px 8px;}
.header .header-contents #btn-login{
	color: rgb(10, 10, 10);
	border: none;
	font-family: Noto Bold;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 15px;
	padding: 6px 10px;
	background-color: rgb(244, 244, 245);
	border: 1px solid rgb(244, 244, 245);
	transition: 0.3s ease;
	margin: 0px 2px;
}

.header .header-contents #btn-login:hover {
	background-color: #282533;
	border-color: #282533;
	color: rgb(244, 244, 245);
}

.header .header-contents #btn-reader {
	color: #000000;
	font-family: Noto Bold;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 15px;
	padding: 6px 10px;
	transition: 0.3s ease;
	background: linear-gradient(to top right, #47c6fc, #c33dfc, #fc3d77, #ffbd24);
}

.header .header-contents #btn-reader:hover {
	color: #ffffff;
	background: linear-gradient(to top left, #47c6fc, #c33dfc, #fc3d77, #ffbd24);
}













/* ----------- S O C I A L ---------------------------------------------------- */

.social {
	position: fixed;
	top: 140px;
	right: 0px;
	z-index: 20;
} 

.social .social-container li {
	padding: 14px 18px;
	text-align: center;
	transition: all 0.1s ease;
	background-color: #090913;
	list-style: none;
}

.social .social-container li:hover {background-color: #86bd4f;}
.social .social-container img {margin-top: 4px;}








/* ----------- U S E R --------------------------------------------------------- */ 
.user {
	position: absolute;
	border: 1px solid #131316;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	top: 8px;
	right: 30px;
	cursor: pointer;
}

.user img {
	margin: auto;
	width: 100%;
	height: 100%;
	text-align: center;
	object-fit: cover;
	position: relative;
}

.user-menu {
	background-color: #191924;
	height: auto;
	width: 280px;
	position: absolute;
	border-radius: 2px;
	right: 10px;
	top: 60px;
	color: #1c1d25;
	border: 1px solid #302e31;
	box-shadow: 0px 2px 10px #00000088;
	display: none;
}

.user-menu .user-menu-header {
	display: flex;
	width: 100%;
	height: 65px;
	border-bottom: 1px dashed #4f4d5a;
	padding: 8px 30px 8px;
}

.user-menu .user-menu-header .extremer-icon img {
	margin-top: 6px;
	margin-left: -10px;
	margin-right: 15px;
}


.user-menu .user-menu-header .user-header-txt {margin-top: 5px;}
.user-menu .user-menu-header .user-header-txt h3 {
	font-family: Estandar;
	font-size: 16px;
	letter-spacing: 1px;
	color: #e3e0e6;
	font-weight: normal;
}

.user-menu .user-menu-header .user-header-txt p {
	font-family: Noto Sans;
	color: #9a979c;
	font-weight: normal;
	letter-spacing: 1px;
}


.user-menu .user-menu-list li {
	width: 100%;
	padding: 16px;
	height: auto;
	font-weight: normal;
	font-family: Noto Sans;
	color: #fcfcfc;
	font-size: 16px;
	letter-spacing: 1px;
	transition: all 0.2s ease-in-out;
	list-style: none;
}

.user-menu .user-menu-list li:hover {background: #111118;}

.user-menu .user-menu-list li img {
	margin-right: 20px; 
	margin-bottom: -3px;
}

.user-menu .user-menu-list a #uml-line {
	border-top: 1px dashed #4f4d5a;
}



















/* ----------- M E N U --------------------------------------------------------- */ 
/* »»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»» */


.menu-list a #cartoon:hover {color: #15aaff;}
.menu-list a #comics:hover {color: #ff7c10;}
.menu-list a #lnovels:hover {color: #ff1a5e;}
.menu-list a #mangas:hover {color: #af2aff;}


.menu-list span {
	margin-top: 20px;
	margin-right: 4px;
	font-size: 12pt;
	font-weight: normal;
}
 
.menu {
	background-color: #191924;
	width: 100%;
	text-align: center; 
	box-shadow: 0px 5px 10px #000000c9;
}

.menu-list {
	width: 90%;
	display: inline-flex;
	justify-content: space-between;
}

.menu ul {list-style: none;}
.menu-list a {display: flex; justify-content: space-around;}

.menu-list li {
	color: #fafafa;
	font-size: 18px; 
	font-weight: normal;
	text-transform: uppercase;
	font-family: Noto Bold;
	padding: 14px 6px;
	transition: 0.2s ease;
}

.menu-list li:hover{color: #bbbbbb;}
















.carousel-cell {
	width: 20%;
	height: 540px;
	margin-right: 12px; 
}











/* ----------- MAIN DONATE ----------------------------------------------- */ 


.donate-img {width: 100%; display: flex;}
.donate-img img {width: 100%; opacity: 0.8;}


.donate-text {
	width: 85%; 
	margin: 0 auto;
	text-align: center;
}

.donate-text h2 {
	font-family: Laviossa;
	color: #ffffff;
	font-size: 52px;
	font-weight: normal;
}

.donate-text h3 {
	font-family: Laviossa;
	font-weight: normal;
	color: #abe670; 
	letter-spacing: 1px;
	margin-top: 12px;
	font-size: 34px;
}

.donate-text p {
	font-family: Inter;
	color: #fdfdfd;
	line-height: 28px;
	font-size: 18px;
	width: 60%;
	margin: 0 auto;
}




.don-img {
	width: 90%;
	margin: 0 auto;
	height: auto;
	display: flex;
	justify-content: center;
}

.don-img img {
	width: 220px;
	margin: 0px 12px;
	border-radius: 3px;
	box-shadow: 0px 0px 12px #00001099;
}



 .dtext {
	background-color: #222132;
	padding: 40px 150px;
}

.dtext h3 {
	font-family: Laviossa;
	font-weight: normal;
	color: #abe670; 
	letter-spacing: 1px;
	margin-bottom: 6px;
	font-size: 26px;
}

.dtext p {
	color: #ffffff;
	font-family: Rubik;
	font-size: 18px;
	line-height: 25px;
}














.donate-imp-container {
	width: 100%;
	padding: 0px 60px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
}


.donate-imp-container .dic {
	padding: 30px 60px;
	margin-bottom: 20px;
	background-color: #0c0c18;
	border-radius: 12px;
	border: 1px solid #1c1e33;
}

.donate-imp-container .dic h2 {
	font-family: Laviossa;
	font-weight: normal;
	color: #ffffff; 
	letter-spacing: 1px;
	margin-bottom: 20px;
	font-size: 21px;
}

.donate-imp-container .dic h2 span {color: #abe670;}
.donate-imp-container .dic ol {}
.donate-imp-container .dic li {
	font-family: Noto Sans;
	font-size: 16px;
	color: #eeeeee;
	margin-bottom: 14px;
}








.donate-imp-container .dic-pay {}
.donate-imp-container .dic-pay i {
	font-family: Noto Sans;
	font-weight: normal;
	color: #ffffff; 
	letter-spacing: 0px;
	font-size: 19px;
	font-style: normal;
}


.donate-imp-container .dic-pay .dic-btn {margin-top: 10px;}
.donate-imp-container .dic-pay .dic-btn #dic-opt {
	width: 40%;
	outline: none;
	padding: 14px 0px 14px 14px;
	border-radius: 2px;
	cursor: pointer;
	background-color: #0c0c18;
	border: 1px solid #1c1e33;
	color: #eeeeee;
	font-family: Noto Sans;
	font-size: 16px;
	letter-spacing: 1px;
}


.donate-imp-container .dic-pay .dic-btn p {
	font-family: Laviossa;
	font-weight: normal;
	color: #abe670; 
	letter-spacing: 1px;
	margin-bottom: 6px;
	font-size: 19px;
}

.donate-imp-container .dic-pay .dic-btn .dic-rad {margin-bottom: 20px;}
.donate-imp-container .dic-pay .dic-btn .dic-rad span {
	font-family: Rubik;
	color: #eeeeee;
	font-size: 15px;
}
.donate-imp-container .dic-pay .dic-btn .dic-rad input {margin-right: 4px; cursor: pointer;}
.donate-imp-container .dic-pay .dic-btn .dic-rad label {
	font-family: Rubik;
	color: #eeeeee;
	font-size: 14px;
	margin-right: 16px;
}

.donate-imp-container .dic-pay .dic-btn #price {
	outline: none;
	background-color: #0c0c18;
	border-radius: 5px;
	width: 40%;
	color: #eeeeee;
	font-family: Noto Sans;
	font-size: 16px;
	padding: 12px 20px;
	border: 1px solid #1c1e33;
}

.donate-imp-container .dic-pay .dic-btn button {
	outline: none;
	border: none;
	border-radius: 4px;
	width: 35%;
	color: #ffffff;
	font-family: Rubik Medium;
	font-size: 16px;
	padding: 12px 20px;
	cursor: pointer;
	background-color: #3b8f26;
	transition: 0.1s;
}

.donate-imp-container .dic-pay .dic-btn button:hover {
	color: #000000;
	background-color: #86bd4f;	
}










.compr {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}

.compr h2 {
	font-family: Noto Bold;
	font-weight: normal;
	color: #ffffff; 
	letter-spacing: 0px;
	font-size: 32px;
	font-style: normal;
	margin-bottom: 20px;
}

.compr p {
	font-family: Rubik;
	color: #dddddd; 
	letter-spacing: 0px;
	font-size: 18px;
	line-height: 25px;
}


.compr h3 {
	font-family: Rubik Medium;
	font-weight: normal;
	color: #ffffff; 
	letter-spacing: 0px;
	font-size: 24px;
	margin-bottom: 20px;
}

.compr a {
	border: none;
	border-radius: 4px;
	color: #ffffff;
	font-family: Rubik Medium;
	font-size: 16px;
	padding: 12px 20px;
	background-color: #3b8f26;
	transition: 0.1s;
}

.compr a:hover {
	background-color: #ffffff;
	color: #000000;
}

#compr-img {
	display: flex;
	width: 200px;
	margin: 0 auto;
	margin-top: 80px;
}












/* ----------- F O O T E R ------------------------------------------------------ */ 
/* »»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»» */
 
.footer {
	clear: both;
	background-color: #252329;
	width: 100%;
	height: 350px;
	position: relative;
	background-image: url("../../img/images/back-login.png");
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-top: 130px;
}

.footer img {
	position: absolute;
	left: 100px;
	top: -20px;
	width: 370px;
	opacity: 0.8;
}


.footer-container {
	display: inline-flex;
	margin-top: 65px;
	margin-left: 45%;
}

.footer-container div{ 
	margin: 0px 22px; 
	max-width: 150px;
}
 
.footer-container h4 {
	font-family: Noto Bold;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 15px;
}

.footer-container li {margin: 5px 0px; list-style: none;}
.footer-container li a {
	font-family: Noto Bold;
	text-transform: uppercase;
	font-weight: normal;
	color: #999;
	font-size: 17px; 
	transition: 0.1s;
}

.footer-container li a:hover {color: #fff;}
