* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
 
@font-face {
    font-family:'Inter Medium';
    src: url('../../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family:'Noto Sans';
	src: url('../../fonts/NotoSans_Condensed-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}







/* -- Scrollbar -- */

::-webkit-scrollbar {width: 0.7em;}
::-webkit-scrollbar-track {background: #0c0b13;}
::-webkit-scrollbar-thumb {
	background: #676374; 
	border-radius: 100vw; 
	border:2px solid #191924;
}
::-webkit-scrollbar-thumb:hover {background: #3f3d46;}






/* ----------- B O D Y --------------------------------------------------------- */ 

body {
	background-image: url("../../img/logo/eback.png");
	background-size: 150px;
	background-color: #04030a;
}

#fixed-header {
	position: fixed;
	width: 100%;
	z-index: 2;
}

header {
    background-color: #11111522;
    width: 100%;
    height: 50px;
    transition: 0.2s;
}

header:hover {background-color: #111115cc;}

header .header-container {
	display: flex; 
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 20px;
	justify-content: space-around;
}
 
header .header-container .back-btn {
	padding: 8px;
	padding-top: 11px;
	background: #2c2c31;
	text-align: center;
	width: 40px;
	height: 36px;
	border-radius: 4px;
	margin-top: 8px;
	cursor: pointer;
}

header .header-container .back-btn:hover {background: #424249;}

header .header-container .name {
	width: 350px;
	height: 100%; 
	margin-top: 15px;}
 

header .header-container .name p {
	font-family: Inter Medium;
	color: #fff;
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
} 


header .header-container a {margin-top: 14px;}
header .header-container #backp {
	padding: 8px 12px 6px 12px;
	background: #2c2c31;
	color: #ffffff;
	font-family: Noto Sans;
	font-size: 18px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	align-items: center;
	align-content: center;
	text-align: center;
	transition: 0.1s;
}

header .header-container #backp:hover {background: #f5f5f5; color: #000000;}

header .header-container .arrows {
	width: 30%;
	display: inline-flex;
}

header .header-container .arrows span {
	padding: 8px;
	padding-top: 11px;
	background: #2c2c31;
	color: #ffffff;
	font-family: Noto Sans;
	font-size: 13px;
	text-align: center;
	width: 40px;
	height: 36px;
	border-radius: 4px;
	margin-top: 8px;
	cursor: pointer;
}

header .header-container .arrows span:hover {background: #f5f5f5; color: #19191b;}

header .header-container .arrows p {
	font-family: Noto Sans;
	color: #fff;
	font-size: 22px;
	margin: 12px 12px 0px 12px;
	cursor: default;
}


header .header-container .read-mode {
	width: 10%;
	display: inline-flex;
	margin-top: 4px;
}

header .header-container .read-mode a {
	font-size: 16px;
	text-align: center;
	margin-right: 6px;
}

header .header-container .read-mode a span {
	padding: 12px 12px 6px 12px;
	width: 45px;
	height: 36px;
	border-radius: 4px;
}

header .header-container .read-mode #read-scroll {
	background: #ff1e00;
	color: #ffffff;
	transition: 0.1s;
}

header .header-container .read-mode #read-click {
	background: #ffa300;
	color: #000000;
	transition: 0.1s;
}

header .header-container .read-mode #read-scroll:hover {background: #be0600;}
header .header-container .read-mode #read-click:hover {background: #ffcd76;}


header .header-container .buttons {
	width: 10%;
	line-height: 60px;
}

header .header-container .buttons span {
	font-weight: normal;
	padding: 8px 8px 2px 8px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	background: #2c2c31;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 2px;
}

header .header-container .buttons span:hover {background: #f5f5f5; color: #19191b;}











/** The Reading mode **/

.page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    cursor: grab;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}

.page-container::-webkit-scrollbar {
    display: none;
}

.page-container img {
	margin-right: 18px;
	transition: margin-right 0.4s ease;
}


.page {
	display: inline-block;
	object-fit: contain;
	width: 100vw;
    height: 100vh;
}

